body, html {
  height: 100%;
  width: 100%;
  background-color: black;
  margin: 0;
}
/******************** window arrangement ********************/
#title {
	/* background-color: #C00; */
  background-color: #17202A;
  /* background-color: #1C2833; */
  /* background-color: #202D3A; */
  /* background-color: #253442; */
  text-align: center;
  font-size: 32px;
  color: white;
}

#videoContainer {
	/* background-color: #000; */
  background-color: #253442;
  text-align: center;
}

#video {
  /* filter: saturate(31%); */
  /* filter: hue-rotate(245deg) brightness(0.29) saturate(31%); */
  background-color: black;
}

#controls {
	/* background-color: #000; */
  background-color: #17202A;
  /* background-color: #1C2833; */
  /* background-color: #202D3A; */
  /* background-color: #253442; */
  display: flex;
}

.box {
  /* background-color: white; */
  color: #EBEDEF;
  /* color: white; */
  font-size: 36px;
  text-align: center;
}
#box1 {
  background-color: #281E17;
}
#box2 {
  background-color: #352312;
}
#box3 {
  background-color: #4F3923;
}
#box4 {
  background-color: #584232;
}
#box5 {
  background-color: #5F534C;
}
#box6 {
  background-color: #58583C;
}
#box7 {
  background-color: #4B4027;
}
#box8 {
  background-color: #323C4D;
}
#box9 {
  background-color: #39374E;
}
/******************** window arrangement ********************/
