body, html {
  height: 100%;
  margin: 0;
	background-color: #17202A;
}
/******************** window arrangement ********************/
#contents {
  float: right;
  width: 80%;
  height: 6300px;
	background-color: #000;
	align-items: center;
}

#controls {
	position: fixed;
  float: left;
  width: 19.79%;
  height: 100%;
  /* background-color: #333; */
	background-color: #000;
	border-right: 0.2%;
	border-right-style: solid;
	border-color: #333;
	align-items: center;
}

/******************** window arrangement ********************/

/******************** control panel ********************/
/* spinning circle */
#spinCircle {
	position: relative;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  border-style: solid;
  border-width: 12px;
  border-top-color: #17202A;
  border-left-color: #1C2833;
	border-bottom-color: #202D3A;
	border-right-color: #253442;
}
/* spinning animation */
@keyframes spin {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}
@keyframes changeColor1 {
  from {
    background-color: #17202A;
  }
  to {
    background-color: #253442;
  }
}
@keyframes changeColor2 {
	from {
		background-color: #253442;
	}
  to {
    background-color: #17202A;
  }
}
/* BGM play/pause buttons */
#bgm1, #bgm2, #bgm3 {
  width: 64px;
  height: 64px;
  /* margin: 50px; */
  border-radius: 50%;
  background-color: #17202A;
	position: relative;
	right: 25%;
	top: 2%;
}
#bgm1:hover {
	background-color: #253442;
}
#bgm2:hover {
	background-color: #253442;
}
#bgm3:hover {
	background-color: #253442;
}
.bgmDes {
	color: #17202A;
	position: relative;
	left: 45%;
	bottom: 1.2%;
	font-size: 20px;
}
/* volume buttons */
#volUp, #volDown {
	position: relative;
}
#volUp {
  width: 0px;
  margin: 50px auto;
  border-bottom-color: #17202A;
  border-left-color: transparent;
  border-top-color: transparent;
  border-right-color: transparent;
  border-style: solid;
}
#volUp:hover {
  border-bottom-color: #253442;
}
#volDown {
  width: 0px;
  margin: 50px auto;
  border-width: 25px;
  border-bottom-color: transparent;
  border-left-color: transparent;
  border-top-color: #17202A;
  border-right-color: transparent;
  border-style: solid;
}
#volDown:hover {
  border-top-color: #253442;
}
/* volume bar */
#volBar {
	background-color: #17202A;
	border: solid 2px #17202A;
	position: relative;
}
#shadow {
	background-color: black;
}
/******************** control panel ********************/

/******************** text panel ********************/
/* text box */
#textBox {
	position: fixed;
	/* background-color: #202530; */
	background-color: #000;
	width: 64%;
	height: 60%;
	right: 8%;
	top: 20%;
}
/* title */
.title {
	/* color: white; */
	color: #D6DBDF;
	font-size: 42px;
	position: relative;
	top: 32%;
	text-align: center;

}
/* text */
.text {
	font-family: Helvetica;
	/* color: white; */
	color: #D6DBDF;
	font-size: 28px;
	position: relative;
	text-align: center;
}
/******************** text panel ********************/

/******************** intro page ********************/
#btn1 {
	width: 12%;
	height: 8%;
	background-color: #17202A;
	color: white;
	font-size: 24px;
	border: solid 2px white;
}
.instruction {
	font-family: Helvetica;
	color: white;
	font-size: 21px;
	position: relative;
}
#instruction1 {
	width: 48%;
	height: 32%;
	position: relative;
	background-color: #253442;
	left: 1%;
	top: 2%;
}
#instruction2 {
	width: 48%;
	height: 30%;
	position: absolute;
	background-color: #253442;
	bottom: 10%;
	right: 1%;
}
#btn2 {
	width: 12%;
	height: 8%;
	background-color: #253442;
	color: white;
	font-size: 24px;
	border: solid 2px white;
	position: absolute;
	bottom: 13%;
	left: 20%;
}
/******************** intro page ********************/
