body {
	font-family: "Helvetica";
	color: grey;
	letter-spacing: 1.5px;
}

a {
	color: black;
}
a:hover{
	color: hotpink;
}

img {
	position: absolute;
}

/* ************** START box container ****************** */
/* each page is put into a box container */
.box {
  position: sticky;
	background-color: white;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	/* border: dotted; */

	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-content: flex-start;
	justify-content: center;
	align-items: flex-start;
	align-content: space-between;
}
/* ************** END box container ****************** */

/* ************** START intro box ****************** */
#intro {
	height: 670px;
  width: 500px;
	border: solid 2px grey;
}
/* background container */
#BGDBox {
	width: 500px;
	height: auto;
	border: solid 2px white;
	position: relative;
	top: 60px;
}
/* text of background */
#BGD {
	width: 320px;
	position: relative;
	left: 100px;
	font-family: "Comic Sans MS";
	font-size: 20px;
}
/* page selector */
#links {
	font-family: Arial;
	position: relative;
	width: 280px;
	left: 120px;
	top: 148px;
	/* border: solid 2px green; */
	align-items: center;
}
/* ************** END intro box ****************** */


/* ************** START BGM button ****************** */
#BGM {
	/* align-items: center; */
	width: 320px;
	position: relative;
	top: 12px;
	left: 100px;
}
.btt {
	background-color: hotpink;
	border: solid 2px hotpink;
	padding: 3px;
	width: 72px;
	font-size: 15px;
}
/* ************** END BGM button ****************** */

/* ************** START set pages ****************** */
#page1, #page2, #page3, #page4 {
	border: solid 2px #999;
}
#page1 {
  background-image: url("../img/bgd.png");
  height: 670px;
  width: 630px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
#page2 {
  background-image: url("../img/pg2_150.png");
  height: 949px;
  width: 653px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
#page3 {
  background-image: url("../img/pg3_150.png");
  height: 949px;
  width: 653px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
#page4 {
  background-image: url("../img/pg4_150.png");
  height: 949px;
  width: 653px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
/* ************** END set pages ****************** */

/* ************** START story name ****************** */
#storyName{
	position: absolute;
	height: 300px;
	width: 200px;
	right: 12px;
	top: 12px;
	/* border: solid 2px blue; */
	text-align: center;
	font-size: 40px;
}

#title {
	position: relative;
}
/* ************** END story name ****************** */

/* ************** START swim destination **************** */
/* when users click on Poseidon's island, jump to second page */
#island1, #island2, #island3, #island4{
	opacity: 0;
	/* opacity: 1; */
}
#island1 {
	width: 200px;
	height: 200px;
	position: absolute;
	right: 0;
	bottom: 0;
	background-color: red;
}
#island2 {
	width: 40px;
	height: 165px;
	position: absolute;
	right: 200px;
	bottom: 0;
	background-color: purple;
}
#island3 {
	width: 20px;
	height: 125px;
	position: absolute;
	right: 240px;
	bottom: 0;
	background-color: green;
}
#island4 {
	width: 36px;
	height: 85px;
	position: absolute;
	right: 260px;
	bottom: 0;
	background-color: blue;
}
/* ************** END swim destination  **************** */

/* ************** START show pirate ****************** */
/* hover the cursor and a photo of real pirate show up */
#pirateBox {
	width: 230px;
	height: 400px;
	position: relative;
	left: 410px;
	top: 10px;
}
#pirate {
	width: 230px;
	opacity: 0;
}
#pirate:hover {
	opacity: 1;
}
/* ************** END show pirate  **************** */

/* ************** START Jack walking away ****************** */
/* just a simple animation */
#back{
  position: absolute;
  display: block;
	height: 66px;
	width: 48px;
	right: 256px;
	bottom: 27px;
  animation: go 4s infinite;
}

@keyframes go {
  to{
	transform: translate(100px, -40%) scale(0.5);
  }
}

/* ************** END Jack walking away ****************** */


/* ************** START to page 4 ****************** */
/*  background color change on villain's death */
#death {
	position: absolute;
	bottom: 13px;
	left: 6px;
	width: 214px;
	height: 240px;
	background-color: #D22;
	opacity: 0;
}
#death:hover{
	opacity: 0.7;
}

/* treasure box shining effects */
/* after users click the "shining" treasure box, coins pop up */
#treasure {
	position: relative;
	top: 732px;
	left: 274px;
	width: 110px;
	height: 24px;
	background-color: yellow;
	opacity: 0.6;
	animation: changeC 2.4s infinite alternate;
}
@keyframes changeC {
	0%	{background-color: red;}
	20%	{background-color: green;}
	40% {background-color: yellow;}
	60% {background-color: blue;}
	80%	{background-color: hotpink;}
	100%	{background-color: purple;}
}
@keyframes rotate {
  from{
    transform: rotateY(-180deg);
  }
  to{
    transform: rotateY(180deg);
  }
}
.coin{
  position: absolute;
  display: block;
  /* display: block; */
  /* background-image: url("../img/coin.png"); */
  opacity: 0.5;
	animation: rotate 3s infinite alternate;
}
/* ************** END to page 4 ****************** */

/* ************** START sparkling eye zooms in on treasure ************** */
#sparkle {
 position: absolute;
 top: 485px;
 left:365px;
 right: 200px;
}
.sparkling{
 position: absolute;
 width:330px;
 margin-left: 700px;
 margin-right: 700px;
 bottom: 170px;
 height: 320px;
}
/* ************** END sparkling eye zooms in on treasure ************** */
